{% extends 'index.html' %}
{% block content %}
    {% for article in articles %}
        <div class ="post" style="padding: 3px 0 3px 3px;:2px;">
            <table>
                <td>
                    <h3>{{ article.title }}</h3>
                    <div style="padding-bottom: 40px">Опубликовано: {{ article.published_date }}</div>
                    <div style="padding-top:2px;padding-bottom:40px;">{{ article.text|linebreaksbr }}</div>
                </td>
            </table>
        </div>
    {% endfor %}
{% endblock content %}