{% load staticfiles %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Vadim Kuznetsov - Personal website</title>
    <style>
        ul.top_menu {
            margin: 0;
            padding: 4px;
            background: #786b59;
        }
        ul.top_menu li {
            display: inline;
            margin-right: 5px;
            padding: 3px;
        }
        ul.top_menu a {
             color: white
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="header">
                <div>{{ date }}</div>
                <h4 style="padding-left: 1%;padding-bottom: 1%;">Здравствуйте! Меня зовут Вадим Кузнецов и это мой персональный сайт.</h4>
                <img src="{% static 'header.jpg' %}" alt="header_img">
                <ul class="top_menu">
                    {% for link, title in menu_items.items %}
                        <li><a href="/{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="articles" style="padding-top:25px;padding-left:50px;">
                {% block content %}
                {% endblock %}
            </div>
            <div style="text-align:center;">
                <span class="pages">
                    {% if pages_num|length > 1 %}
                        {% for page_number in pages_num %}
                            {% if page_number != cur_page %}
                                <span><a href="/{{ root }}/{{ page_number }}/">{{ page_number }}</a></span>
                            {% else %}
                                <span><b>{{ page_number }}</b></span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="footer" style="text-align:center;padding-top: 2%">Vadim Kuznetsov 2016<br></div>
    </div>
</body>
</html>