{% extends 'index.html' %}
{% block content %}
<div class ="post_1" style="padding: 3px 0 3px 3px;:2px;">
    <table>
        <td>
            <h3><a href="/">Заголовок поста</a></h3>
            <div style="padding-bottom: 40px">Опубликовано: 05.09.2014</div>
            <div style="padding-top:2px;padding-bottom:40px;">Текст поста.</div>
        </td>
    </table>
</div>
<div class ="post_2" style="padding: 3px 0 3px 3px;:2px;">
    <table>
        <td>
            <h3><a href="/">Заголовок поста 2</a></h3>
            <div style="padding-bottom: 40px">Опубликовано: 05.09.2014</div>
            <div style="padding-top:2px;padding-bottom:40px;">Текст поста 2.</div>
        </td>
    </table>
</div>
{% endblock content %}